
body{
    
    background-color: #B041FF; /*#2b93cf*/
    display: flex;
    align-items: center;     /* align-items to make the container wh ite back ground  below to be at the center */

    justify-content: center;
    min-height: auto;
    margin: -5%;
 } 
 

img{
    float: inline-start; /*left*/
    width: 45%; /*100%*/
    height: 90%; /*100%*/
    background-size:contain ; /*cover*/
    
}
